{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">تایید نهایی</h1>
                <p class="lead fw-normal text-white-50 mb-0">لطفا سفارشتون رو چک کنید</p>
            </div>
        </div>
    </header>
    <br>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-10">
                    <div class="card">
                        <div class="card-header">
                          خلاصه سفارشات شما:
                        </div>
                        <div class="card-body">
                            {% for product in cart_products %}
                                 {{ product.name }} <br>
                                 <small>
                                    قیمت:
                                 {% if product.is_sale %}
                                 {{ product.sale_price | intcomma }}
                                 {% else %}
                                 {{ product.price | intcomma }}
                                 {% endif %}
                                 </small><br>
                                 <small>
                                 تعداد:
                                 {% for key, value in quantities.items %}
                                 {% if key == product.id|slugify %}
 
                                 <option selected>{{ value }}</option>
                                 {% endif %}
                                 {% endfor %}
                                 </small>
                                 <hr>
                            {% endfor %}
                            <strong>مجموع کل سفارشات {{ total | intcomma }}</strong>
                            <br>
                        </div>
                      </div>
                      <br>
                      <div class="card">
                        <div class="card-header">
                          مشخصات ارسال:
                        </div>
                        <div class="card-body">
                            <form method='POST' action='{% url "process_order" %}'>
                                {% csrf_token %}
                            نام و نام خانوادگی: {{ shipping_info.shipping_full_name }} <br>
                            ایمیل: {{ shipping_info.shipping_email }} <br>
                            آدرس ۱: {{ shipping_info.shipping_address1 }} <br>
                            آدرس ۲: {{ shipping_info.shipping_address2 }} <br>
                            شهر: {{ shipping_info.shipping_city }} <br>
                            منطقه: {{ shipping_info.shipping_state }} <br>
                            کدپستی: {{ shipping_info.shipping_zipcode }} <br>
                            کشور: {{ shipping_info.shipping_country }} <br>
                        </div>
                      </div>
                </div>
                <br>
                {% comment %} <button type='submit' class='btn btn-sm btn-outline-secondary' {% url "process_order" order.id %}>ثبت سفارش و پرداخت </button> {% endcomment %}
                <form action="{% url 'order_pay' order.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline-secondary">ثبت سفارش و پرداخت</button>
                </form>                
                
            </form>
            </center>
        </div>
    </div>               
<br><br><br><br><br><br>

{% endblock  %}

